spring:
  application:
    name: smart-export-platform
  
  datasource:
    url: jdbc:postgresql://localhost:5432/smart_export_db
    username: user
    password: 
    driver-class-name: org.postgresql.Driver
  
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
  
  flyway:
    enabled: true
    baseline-on-migrate: true
    locations: classpath:db/migration
  
  cache:
    type: simple
    cache-names: exchangeRates

exchangerate:
  api:
    key: ${EXCHANGERATE_API_KEY:demo}
    url: https://v6.exchangerate-api.com/v6

server:
  port: 8080
  servlet:
    context-path: /

logging:
  level:
    com.smartexport: DEBUG
    org.hibernate.SQL: DEBUG
