*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Personal media
*.mp4
*.mov
*.mkv
*.avi
*.png
*.jpg
*.jpeg
*.heic
*.gif

# --- SAFETY: never push personal folders ---
Downloads/
Movies/
Music/
Pictures/
Public/
Library/
Parallels/
VirtualBox VMs/
IdeaProjects/
IdeaSnapshots/

# Common big/temporary stuff
*.dmg
*.pkg
*.exe
*.mp4
*.mov
*.mkv
*.avi

